@charset "utf-8";

/*ν—¤λ”*/
#header{
	position: fixed;
	width:100%;
	height: 50px;
	top: 0;
	line-height: 50px;
	background: #fff;
	z-index: 1;
}
#header a{
	vertical-align: middle;
}
#header img{
	width:100%;
}
.panel{
	float: left;
	width:21px;
	margin-left: 5%;
}
.panel a{}
.panel img{}

.logo{
	width:82px;
	position: absolute;
	left: 50%;
	margin-left: -41px;
}
.logo a{}
.logo img{}

.search{
	float: right;
	width:21px;
	margin-right: 5%;
}
.search a{}
.search img{}

/*ν‘Έν„°*/
#footer{
	font-weight: 100;
}

.fTop{
	text-align: center;
	background: #f3f3f3;
	width:100%;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
}
.fTop ul{
	display: inline-block;
}
.fTop li{
	float: left;
}
.fTop li:nth-child(2){
	margin: 0 40px;
}
.fTop li a{
	color:#5a5252;
}

.fBottom{
	margin-bottom:90px;
	margin-left: 25px;
	text-align: left;
}
.fBottom h3{
	margin-top: 15px;
}
.fBottom p{
	margin: 15px 0;
}

.snsList{}
.snsList li{
	float: left;
	margin-right: 5px;
}
.snsList li img{
	width:29px;
	display: block;
}

.fFixed{
	position: fixed;
	display: block;
	background: #f3f3f3;
	width:100%;
	z-index: 1;
	bottom:0;
	text-align: center;
}
.fFixed ul{}
.fFixed li{
	padding:10px 0;
	float: left;
	width:25%;
}
.fFixed li a{}
.fFixed li p{
	color:#000;
	font-size: 12px;
	margin-top: 2px;
}
.fFixed li img{
	width:20px;
	display: inline-block;
}







